@model BaiTapLonWeb.Models.PHIM

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout3.cshtml";
}

<h2>CreateMovie</h2>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
<table>
    <tr>
        <td>Mã phim</td>
        <td>@Html.TextBox("MAPHIM") @ViewData["Loi_1"]</td>
    </tr>
    <tr>
        <td>Tên phim</td>
        <td>@Html.TextBox("TENPHIM") @ViewData["Loi_2"]</td>
    </tr>
    <tr>
        <td>Thể loại</td>
        <td>
            @Html.DropDownList("THELOAI")            
        </td>
    </tr>
    <tr>
        <td>Đạo diễn</td>
        <td>@Html.TextBox("DAODIEN") @ViewData["Loi_3"]</td>
    </tr>
    <tr>
        <td>Mô tả</td>
        <td>
            @Html.TextArea("MOTA") @ViewData["Loi_4"]            
        </td>
    </tr>
    <tr>
        <td>Giá vé</td>
        <td>@Html.TextBox("GIAVE") @ViewData["Loi_5"]</td>
    </tr>
    <tr>
        <td>Hình ảnh</td>
        <td>@Html.TextBox("HINHANH") @ViewData["Loi_6"]</td>
    </tr>
    <tr>
        <td>
        <input type="submit" value="Thêm mới" class="btn-default" />
        </td>        
    </tr>
    
</table>
}

<div>
    @Html.ActionLink("Trở về ", "AllMovie")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
